<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Блог</h1>
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="/blog/">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/contacts/">Контакты</a>
            </li>
        </ul>
    </header>
    <main class="container my-5">
        <h2>Наш блог</h2>
        <p>Добро пожаловать в наш блог! Здесь мы делимся интересными статьями, советами и мнениями на самые разные темы. От новостей и аналитики до лайфхаков и рецептов - у нас есть что почитать каждому.</p>
        <article>
            <h3>Последние новости технологий</h3>
            <p>Мир технологий постоянно развивается, и мы следим за всеми новинками. В нашем блоге вы найдете обзоры новейших гаджетов, анализ тенденций и мнения экспертов.</p>
        </article>
        <article>
            <h3>Здоровый образ жизни</h3>
            <p>Поддержание здоровья - важная часть жизни каждого из нас. Узнайте, как правильно питаться, какие упражнения наиболее эффективны, и как справляться со стрессом.</p>
        </article>
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <p>Контактная информация: blog@mysite.com</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
